@use "./../../variables/variables.scss" as var;

.tag {
  font-size: 1.6rem;
  // padding: 0.4rem;
  padding: 0.4rem 0.8rem;
  border: 1px solid rgb(255, 255, 255, 0.3);
  // outline: 1px solid #fff;
  // border-radius: 5px;
  border-radius: 1rem;
  cursor: pointer;
  background-color: #323148;
  list-style: none;
  word-break: break-word;
  box-shadow: var.$box-shadow-light;
}

.active {
  background-color: #48313f;
  // background-color: #314840;
}
