@use "../../../../variables/variables.scss" as var;
@use "sass:color";

.btn__open {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  padding: 0.1rem;
  // position: absolute;
  width: 2rem;
  height: 10rem;
  margin-top: 45vh;
  border: none;
  border-radius: 1rem 0 0 1rem;
  background-color: #756b76;
  background-color: var.$color-primary;
  color: var.$color-text-white;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    background-color: color.adjust(#756b76, $lightness: -5%);
    background-color: color.adjust(var.$color-primary, $lightness: -5%);
  }

  &:active {
    box-shadow: inset 0.2rem 0.3rem 0.5rem rgba(var.$color-black, 0.4);
  }

  & svg {
    width: 1.4rem;
    height: 1.4rem;
  }
}
