@use "../../../variables/variables.scss" as var;

.img {
  width: 30rem;
  // height: 100%;
}

.images {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.controls {
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
}

.versions {
  display: flex;
  gap: 2rem;
  list-style: none;
  flex-wrap: wrap;
}

.version {
  transition: all 0.3s;
  border-radius: 0.5rem;
  padding: 0.4rem;
  font-size: 1.6rem;
  cursor: pointer;

  &--active {
    border: 1px solid blueviolet;
    background-color: rgb(34, 34, 34);
  }
  &--downloaded {
    color: blueviolet;
  }
}

.image-versions {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.panel {
  display: flex;
  justify-content: space-between;
}

.btn-back {
  padding: 0.4rem 2rem;
  border: none;
  border-radius: 1rem;
  // position: absolute;
  // top: 1rem;
  // left: 1rem;
}

.btn-edit {
  padding: 0.4rem 2rem;
  border: none;
  border-radius: 1rem;
  // position: absolute;
  // top: 1rem;
  // right: 1rem;
}

.btn-examples {
  font-size: 2.6rem;
  cursor: pointer;
  background-color: rgb(82, 87, 87);
  border-radius: 1rem;
  padding: 0.2rem 0.6rem;
  &--active {
    color: blueviolet;
  }
}

.mode-switch {
  display: flex;
  // font-size: 1.6rem;
  border-radius: var.$border-radius;
  border: 1px solid rgba(255, 255, 255, 0.3);
  // width: 10rem;
  overflow: hidden;
}
.btn-mode {
  display: flex;
  justify-content: center;
  width: 8rem;
  font-size: 1.8rem;
  // text-transform: uppercase;
  background-color: transparent;
  // background-color: #fff;
  padding: 0.4rem 0.6rem;
  border: none;
  transition: all 0.3s;
  color: #fff;
  cursor: pointer;
  &--active {
    background-color: blueviolet;
  }
}

.select {
  border-radius: 1rem;
  padding: 0.8rem;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: var.$color-text-white;
  background-color: var.$color-background-tertiary;

  &:hover {
    // background-color: aqua;
  }
}

.button-add {
  height: 100%;
  margin-left: auto;
}

// .form-container {
//   overflow-y: scroll;
//   max-height: 80vh;
// }
