@use "../../../../variables/variables.scss" as var;
@use "sass:color";

.tag {
  &__content {
    display: flex;
    gap: 0.2rem;
  }

  &__weight {
    width: 4rem;
  }

  &__cross {
    display: inline-block;
    width: 1.4rem;
    height: 1.6rem;
    color: var.$color-violet-grey;
    transition: all 0.3s ease;

    & svg {
      width: 1.6rem;
    }

    &--submit {
      margin: 0 1rem;
      color: var.$color-white;
    }

    &:hover {
      color: var.$color-white;
    }
  }
}

.btn {
  display: flex;
  align-items: center;
  padding: 0.4rem 0.6rem;
  color: var.$color-violet-grey;
  background: none;
  border: none;
  padding-left: 0.3rem;
  transition: all 0.3s;
  cursor: pointer;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    height: 70%;
    width: 1px;
    background-color: var.$color-violet-grey;
    left: 0;
  }

  &:hover {
    color: var.$color-white;
  }

  &--submit {
    background-color: var.$color-primary;

    &:hover {
      background-color: color.adjust(var.$color-primary, $lightness: -5%);
    }

    &:active {
      box-shadow: inset 0.2rem 0.3rem 0.5rem rgba(var.$color-black, 0.4);
    }

    &:disabled {
      background-color: var.$color-gray;
      box-shadow: none;
      cursor: not-allowed;
    }
  }
}

.activation-tag {
  display: flex;
  gap: 0.3rem;
  align-items: center;

  &__btn-container {
    display: flex;
    gap: 0.1rem;
    flex-direction: column;
    width: 2rem;
    flex-shrink: 0;
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.4rem;
    background-color: #323148;
    border: 1px solid rgba(255, 255, 255, 0.3);
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
      background-color: color.adjust(#323148, $lightness: 5%);
      border: 1px solid rgba(255, 255, 255, 0.5);
    }
    &:active {
      border: 1px solid rgba(255, 255, 255, 0.3);
      background-color: color.adjust(#323148, $lightness: -5%);
      box-shadow: var.$box-shadow-inset;
    }
    &-arrow {
      display: inline-block;
      background-color: #636363;
      height: 1.2rem;
      width: 1.2rem;

      &--up {
        clip-path: var.$clip-path-arrow-up;
      }
      &--down {
        clip-path: var.$clip-path-arrow-down;
      }
    }
  }
}
