//COLORS
$color-primary: #6526a0;
$color-link: #7c82ff;
$color-red: #ca0000;
$color-red-dark: #822929;
$color-black: #000;
$color-white: #fff;
$color-yellow: #eacc48;
$color-violet-dark: #8a2be2;
$color-aqua: #00ffff;
$color-green: #009405;
$color-green-soft: #49ab6c;
$color-green-light: #149f78;
$color-gray: #bdbdbd;
$color-gray-dark: #5c5c5c;
$color-violet-grey: #696976;
//background
$color-background-primary: #262c39;
$color-background-secondary: #1a1e27;
$color-background-tertiary: #201f2f;
$color-background-control: #323148;
$color-background-light: #fff;
$color-background-dark: #263237;
$color-background-violet: #302838;
$color-background-red: #9b1919;
$color-input-bg: #212b3a;
//text
$color-text-primary: #304750;
$color-text-light: #ffffff;
$color-text-yellow: #e4c800;
$color-text-violet: #7d6b9a;
$color-text-violet-light: #b176e7;
$color-text-red: #e54d4d;
$color-text-green: #49ab6b;
$color-text-white: #e8e8e8;
$color-text-gray: #acacac;
$color-text-gray-dark: #8f8f8f;

//Component colors
$color-collection-link: #025ec2;
$color-create: #18bd51;
$color-hero-shadow: #1f1931;
$color-background-gradient-end: #232835;
$color-background-notification: #28273a;
$color-background-models: #282c34;
$color-hero-shadow-soft: #291f44;
$color-background-example-control: #343a40;
$color-hero-glow-soft: #382a5f;
$color-background-placeholder: #383838;
$color-background-sidebar-preview: #3e445e;
$color-background-sidebar-button: #5f9ea0;
$color-background-upload-item: #3f394c;
$color-selection: #443d62;
$color-image-border: #454056;
$color-control-active: #48313f;
$color-background-upload-status: #494953;
$color-pagination-border: #4a4a4a;
$color-guide-close: #58555e;
$color-sidebar-model-link: #5966a1;
$color-hero-glow: #5a3ab2;
$color-image-border-active: #5a5862;
$color-background-panel-hover: #5f3d62;
$color-upload-icon: #62626c;
$color-input-arrow: #636363;
$color-tagset-added: #7278f0;
$color-sidebar-handle: #756b76;
$color-text-placeholder: #777777;
$color-category-accent: #7fffd4;
$color-text-form-muted: #818182;
$color-help-icon: #898996;
$color-text-image-muted: #918b96;
$color-border-section: #949494;
$color-background-switch: #98989836;
$color-text-category: #9e9e9e;
$color-error: #a30202;
$color-prompt-scrollbar: #a4a4a4;
$color-icon: #a8a8a8;
$color-text-field-heading: #aaaaaa;
$color-image-control: #ab9db7;
$color-text-tooltip: #aeaebc;
$color-nav-link-hover: #af59ff;
$color-image-control-hover: #b0b0b0;
$color-account-delete: #b12727;
$color-guide-close-muted: #b2b2b2;
$color-text-description: #c1c2c5;
$color-copy-button-border: #cdcbcb;
$color-guide-highlight: #dfaf07;
$color-tag-drop: #e7008b;
$color-text-example-control: #fefefe;
$color-scrollbar: #ababab;
$color-scrollbar-hover: #818181;
$color-background-form-accent: #211657;
$color-pagination-active: #362ab6;
$color-image-selected: #007bc8;
$color-image-saved: #00c8be;
$color-accent-violet: #892be2;
$color-mobile-backdrop: #999999;
$color-warning: #aa8500;
$color-image-saved-border: #b8b8b8;
$color-image-rejected: #c81400;
$color-resource-error: #d59b9b;
$color-guide-border: #dfb007;
$color-guide-step-background: #e4c900;
$color-video-red: #ff0000;
$color-background-card: #222733;
$color-background-image-controls: #222222;
$color-border-image-controls: #525757;
$color-carousel-action: #372ac7;
$color-gray-light: #dedede;

//Prompt duplicate groups
$color-tag-duplicate-1: #e1e503;
$color-tag-duplicate-2: #e55d03;
$color-tag-duplicate-3: #e503ce;
$color-tag-duplicate-4: #25e503;
$color-tag-duplicate-5: #03d6e5;
$color-tag-duplicate-6: #236cd8;
$color-tag-duplicate-7: #af006f;
$color-tag-duplicate-8: #00b383;
$color-tag-duplicate-9: #2c03e5;
$color-tag-duplicate-10: #9ae503;
$color-tag-duplicate-11: #a903e5;
$color-tag-duplicate-12: #e50361;
