//COLORS
$color-background-primary: rgba(255, 255, 255, 0.75);
$color-background-light: #fff;
$color-background-dark: #263237;
$color-background-gray: #f6f9ff;
$color-background-violet: #302838;
$color-background-gray-light: #fafafa;
$color-text-primary: #304750;
$color-text-light: #fff;
$color-text-orange: #ad6c12;
$color-text-dark: #2a1976;
$color-text-white: #fff;
$color-text-gray: #acacac;
$color-text-gray-dark: #808080;
$color-grey: #bdbdbd;
$color-gray-light: #e6f2fb;
$color-red: #ca0000;
$color-black: #000;
$color-primary: #6526a0;
$color-primaryd: #d68023;
$color-secondary: #eacc48;
$color-tertiary: #c2005e;
$color-white: #fff;
$color-yellow: #eacc48;
$color-violet: #7d6b9a;
$color-violet-dark: #8a2be2;
$color-violet-light: #e9d8f6;
$color-violet-grey: #696976;
$color-green: #2abead;

//FONTS
$font-family-primary: "Raleway", sans-serif;
$font-family-secondary: "Grand Hotel", sans-serif;

//SHADOWS
$drop-shadow: drop-shadow(2px 3px 5px rgba(22, 0, 0, 0.1));
$box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.3);
$box-shadow-inset: inset 0rem 0rem 0.5rem rgba(0, 0, 0, 0.3);

//BORDERS
$border-radius: 1rem;
