@use "../../../../variables/variables.scss" as var;
@use "sass:color";

.tag {
  display: inline-block;
  font-size: 1.4rem;
  background-color: var.$color-background-control;
  border-radius: 1rem;
  overflow: hidden;
  cursor: grab;

  &--duplicate-1 {
    outline: solid 1px var.$color-tag-duplicate-1;
  }
  &--duplicate-2 {
    outline: solid 1px var.$color-tag-duplicate-2;
  }
  &--duplicate-3 {
    outline: solid 1px var.$color-tag-duplicate-3;
  }
  &--duplicate-4 {
    outline: solid 1px var.$color-tag-duplicate-4;
  }
  &--duplicate-5 {
    outline: solid 1px var.$color-tag-duplicate-5;
  }
  &--duplicate-6 {
    outline: solid 1px var.$color-tag-duplicate-6;
  }
  &--duplicate-7 {
    outline: solid 1px var.$color-tag-duplicate-7;
  }
  &--duplicate-8 {
    outline: solid 1px var.$color-tag-duplicate-8;
  }
  &--duplicate-9 {
    outline: solid 1px var.$color-tag-duplicate-9;
  }
  &--duplicate-10 {
    outline: solid 1px var.$color-tag-duplicate-10;
  }
  &--duplicate-11 {
    outline: solid 1px var.$color-tag-duplicate-11;
  }
  &--duplicate-12 {
    outline: solid 1px var.$color-tag-duplicate-12;
  }

  &--break {
    background-color: var.$color-background-dark;
  }

  &__content {
    display: flex;
    gap: 0.2rem;
  }
  &__text {
    padding: 0.4rem 0.6rem;
    word-break: break-word;
    &--edit {
      border-radius: 10px;
      padding: 0.4rem 1rem;
      width: 100%;
      padding-left: 1rem;
      background-color: var.$color-input-bg;
      border: 1px solid rgba(var.$color-white, 0.3);
      box-shadow: var.$box-shadow-inset;
      color: var.$color-text-white;
      color: var.$color-text-gray;
    }
  }

  &__cross {
    display: inline-block;
    width: 1.4rem;
    height: 1.6rem;
    color: var.$color-violet-grey;
    transition: all 0.3s ease;

    & svg {
      width: 1.6rem;
    }

    &--submit {
      margin: 0 1rem;
      color: var.$color-white;
    }

    &:hover {
      color: var.$color-white;
    }
  }

  &__dragged {
    opacity: 0.3;
  }
}

.btn {
  display: flex;
  align-items: center;
  padding: 0.4rem 0.6rem;
  color: var.$color-violet-grey;
  background: none;
  border: none;
  padding-left: 0.3rem;
  transition: all 0.3s;
  cursor: pointer;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    height: 70%;
    width: 1px;
    background-color: var.$color-violet-grey;
    left: 0;
  }

  &:hover {
    color: var.$color-white;
  }

  &--submit {
    background-color: var.$color-primary;

    &:hover {
      background-color: color.adjust(var.$color-primary, $lightness: -5%);
    }

    &:active {
      box-shadow: inset 0.2rem 0.3rem 0.5rem rgba(var.$color-black, 0.4);
    }

    &:disabled {
      background-color: var.$color-gray;
      box-shadow: none;
      cursor: not-allowed;
    }
  }
}

.tag-wrap {
  display: inline;
}

.tag-container {
  display: inline-block;
  padding: 0.5rem;
  border: 2px solid transparent;
}

.drop-left {
  border-left-color: var.$color-tag-drop;
}
.drop-right {
  border-right-color: var.$color-tag-drop;
}

.divider {
  opacity: 0.2;
  margin-bottom: 0.8rem;
  border: 0;
  border-top: 1px solid var.$color-gray;
}
