@use "./../../variables/variables.scss" as var;

.container {
  position: relative;
  // overflow: hidden;
  display: grid;
  grid-template-rows: 0fr auto;
  transition: all 0.3s;
  color: #fff;
  width: 100%;
  will-change: grid-template-rows;
  // padding: 0 2rem;

  &--open {
    grid-template-rows: 1fr auto;
  }
}

.content {
  display: flex;
  // position: relative;
  flex-direction: column;
  // background-color: rgb(var.$color-background-primary, 0.9);
  border-radius: 0 0 10px 10px;
  gap: 0.6rem;
  // height: 0px;
  width: 100%;
  // padding: 1rem;
  overflow: hidden;
  transition: all 0.3s;
}

.settings {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-top: 1rem;
  margin-left: 1rem;
}

.label {
  display: inline-block;
  font-size: 1.4rem;
  line-height: 1;
}

.mode-switch {
  display: inline-block;
  // font-size: 1.4rem;
  border-radius: var.$border-radius;
  border: 1px solid rgba(255, 255, 255, 0.3);
  // width: 10rem;
  overflow: hidden;
}
.btn-mode {
  width: 5rem;
  font-size: 1.2rem;
  // text-transform: uppercase;
  background-color: transparent;
  // background-color: #fff;
  padding: 0.4rem 0.6rem;
  border: none;
  transition: all 0.3s;
  color: #fff;
  cursor: pointer;
  &--active {
    background-color: var.$color-primary;
  }
}

.btn-type-container {
  margin-left: 1rem;
  display: inline-block;
}

.prompt {
  // max-width: 95%;
  // min-width: 95%;
  resize: none;
  padding: 0.6rem 0.8rem;
  background-color: rgb(var.$color-background-tertiary, 0.9);
  opacity: 0.9;
  border: 1px solid var.$color-violet-grey;
  border-radius: 1rem 0rem 0rem 1rem;
  color: var.$color-text-white;
  font-size: 1.4rem;
  line-height: 1.4;
  // height: 10rem;
  // resize: vertical;
  flex-grow: 1;
  font-family: "Segoe UI", sans-serif;
  word-spacing: 0.4rem;
  letter-spacing: 0.4px;

  @include var.custom-scroll;

  &::placeholder {
    color: var.$color-text-gray-dark;
  }
  &--neg {
    // height: 6rem;
  }
  &:focus {
    outline: none;
    border: 1px solid #a4a4a4;
  }
}

.field {
  display: grid;
  grid-template-columns: 1fr 4rem;
  height: 10rem;
  &--neg {
    height: 6rem;
  }
}

.tagarea {
  height: 100%;
  width: 100%;
  border-radius: 1rem 0rem 0rem 1rem;
  background-color: rgb(var.$color-background-tertiary, 0.8);
  // opacity: 0.85;

  // &--neg {
  //   height: 6rem;
  // }
}

// .btn-prompt-type {
//   border: 1px solid rgb(255, 255, 255, 0.3);
//   color: #fff;
//   // font-size: 1.3rem;
//   // background-color: transparent;
//   background-color: var.$color-background-secondary;
//   padding: 0.3rem 0.8rem;
//   transition: all 0.3s;
//   &--left {
//     border-radius: var.$border-radius 0 0 var.$border-radius;
//   }
//   &--right {
//     border-radius: 0 var.$border-radius var.$border-radius 0;
//   }
//   &--active {
//     background-color: var.$color-primary;
//   }
// }

.btn-open {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: var.$color-text-white;
  width: 18rem;
  margin: 0 4rem 0 auto;
  background-color: #756b76;
  height: 1.6rem;
  border: none;
  border-radius: 0 0 1rem 1rem;
  cursor: pointer;
  margin-bottom: -100%;
  position: relative;
  z-index: 19;

  & svg {
    width: 1.8rem;
  }
}

.btn-copy {
  border: 1px solid #fff;
  border-radius: 0 1rem 1rem 0;
  cursor: pointer;
  border: 1px solid rgb(255 255 255 / 30%);
  background-color: #323148;
  border-radius: 0 1rem 1rem 0;
  color: #cdcbcb;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    background-color: lighten(#323148, 5%);
    border: 1px solid rgba(255, 255, 255, 0.5);
  }

  &:active {
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: darken(#323148, 5%);
    box-shadow: var.$box-shadow-inset;
  }

  & svg {
    width: 2rem;
  }
}

.btn-clear {
  margin-left: 1rem;
}

.copied {
  // color: #27bb2c;
  color: var.$color-text-green;
}

@media (max-width: 1024px) {
  .btn-open {
    // right: 50%;
    margin-right: 50%;
    transform: translateX(50%);
  }
}

@media (max-width: 480px) {
  .field {
    height: 17rem;
    &--neg {
      height: 9rem;
    }
  }
}
