@use "./../../variables/variables.scss" as var;

.container {
  overflow: hidden;
  display: grid;
  grid-template-rows: 0fr auto;
  transition: all 0.3s;

  &--open {
    grid-template-rows: 1fr auto;
  }
}

.content {
  display: flex;
  // position: relative;
  flex-direction: column;
  gap: 0.6rem;
  // height: 0px;
  width: 100%;
  overflow: hidden;
  transition: all 0.3s;
}

.label {
  font-size: 1.4rem;
}

.btn-type-container {
  margin-left: 1rem;
  display: inline-block;
}

.prompt {
  // max-width: 95%;
  // min-width: 95%;
  padding: 0.6rem 0.8rem;
  background-color: #201f2f;
  border: 1px solid var.$color-violet-grey;
  border-radius: 1rem 0rem 0rem 1rem;
  color: #fff;
  font-size: 1.2rem;
  line-height: 1.4;
  // height: 10rem;
  resize: vertical;
  flex-grow: 1;
  font-family: "Segoe UI", sans-serif;
  word-spacing: 0.3rem;
  letter-spacing: 0.4px;
  &::placeholder {
    color: var.$color-text-gray-dark;
  }
  &--neg {
    // height: 6rem;
  }
  &:focus {
    outline: none;
    border: 1px solid #a4a4a4;
  }
}

.field {
  display: grid;
  grid-template-columns: 1fr 4rem;
  height: 10rem;
  &--neg {
    height: 6rem;
  }
}

.tagarea {
  height: 100%;
  width: 100%;
  border-radius: 1rem 0rem 0rem 1rem;

  // &--neg {
  //   height: 6rem;
  // }
}

.btn-prompt-type {
  border: none;
  padding: 0.2rem 0.6rem;
  transition: all 0.3s;
  &--active {
    color: #fff;
    background-color: var.$color-primary;
  }
}

.btn__open {
  width: 20rem;
  margin-left: auto;
  background-color: #756b76;
  height: 1.4rem;
  border: none;
}

.btn-copy {
  border: 1px solid #fff;
  // height: auto;
  border-radius: 0 1rem 1rem 0;
  // height: 100%;
  cursor: pointer;
}
