.container {
  display: flex;
  position: relative;
  border-radius: 1rem;
}

.panel {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: rgb(48, 40, 56);
  //   border-left: 1px solid #fff;
  width: 0px;
  padding: 0rem;
  overflow: hidden;
  flex-shrink: 0;
  transition: all 0.3s;

  &--open {
    padding: 1rem;
    width: 30rem;
  }
}

.model-cards {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 28rem;
}

.btn__open {
  width: 1.4rem;
  height: 100%;
  background-color: #756b76;
}

.btn-forms {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 0.4rem 0.8rem;
  background-color: rgb(101, 38, 160);
  color: #fff;
  border: none;
  border-radius: 1rem;
}

.forms {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
