@use "../../variables/variables.scss" as var;

.card {
  display: grid;
  position: relative;
  grid-template-columns: 2fr 3fr;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 1rem;
  min-height: 24rem;
  overflow: hidden;
  // transition: all 0.3s;
  box-shadow: var.$box-shadow-dark;
  box-shadow: var.$box-shadow;
  background-color: var.$color-background-tertiary;
  word-break: break-word;
  height: 100%;
  // animation: show 0.3s ease-in forwards;

  &--motion {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
  }
}

.btn-add {
  position: absolute;
  top: 1rem;
  // right: 1rem;
  left: 1rem;
  z-index: 1;
}

.link {
  text-decoration: none;
  color: var.$color-text-white;
}

.image-container {
  position: relative;
}

.img {
  display: flex;
  // width: 12rem;
  // height: 100%;
  min-height: 14rem;
  min-width: 16rem;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: #383838;
  cursor: pointer;
  overflow: hidden;

  & img {
    position: absolute;
    min-height: 100%;
    max-width: 100%;
    object-fit: cover;
    // transition: all 0.3s;
  }

  &--hidden {
    opacity: 0;
  }
}

.preloader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgb(69, 64, 86);
  // opacity: 0.4;
  position: absolute;
  top: 0;
  left: 0;
  // z-index: 222;
  & svg {
    width: 5rem;
    height: 5rem;
    animation: rotate 1s linear infinite;
  }
}

.type {
  // position: absolute;
  // left: 1rem;
  // top: 1rem;
  color: var.$color-text-white;
  // background-color: rgb(138, 43, 226, 0.7);
  // background-color: rgba(137, 43, 226, 0.7);
  background-color: rgba(var.$color-primary, 0.8);
  padding: 0.4rem 0.8rem;
  border-radius: 1rem;
  text-transform: uppercase;
  font-size: 1.4rem;
  word-break: normal;
  font-weight: 500;
  z-index: 1;
}

.title-container {
  display: flex;
  align-items: center;
  max-height: 6rem;
  overflow: hidden;
}

.title {
  display: -webkit-box;
  font-size: 2.2rem;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.text {
  font-size: 1.6rem;
}

.text-secondary {
  color: var.$color-text-gray;
  @include var.ellipsis(2);
}

.models {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
  list-style: none;
  // color: var.$color-text-gray;
  // background-color: #323148;
  // padding: 0.2rem 0.8rem;
  // border-radius: 10px;

  &__item {
    color: var.$color-text-gray;
    background-color: #323148;
    padding: 0.2rem 0.8rem;
    border-radius: 10px;
  }
  // &__item:not(:last-child) {
  //   padding-right: 0.8rem;
  //   border-right: 1px solid var.$color-text-gray;
  // }
}

.content {
  display: flex;
  flex-direction: column;
  // grid-template-rows: auto auto auto auto auto 1fr;
  align-items: flex-start;
  gap: 1rem;
  padding: 1rem 1.8rem;
  // transition: all 0.3s;

  // &--open {
  //   grid-template-rows: auto auto auto auto 1fr 1fr;
  // }
}

.info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  font-size: 1.6rem;
}

.main-tag {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  gap: 1rem;
  list-style: none;
}

.tags {
  position: relative;
  // display: flex;
  // flex-wrap: wrap;
  // list-style: none;
  // gap: 1rem;
  height: 6.6rem;
  // height: 30%;
  overflow: hidden;
  // transition: all 0.3s;

  &-container {
    display: flex;
    flex-direction: column;
  }

  &__list {
    opacity: 1;
    // padding-bottom: 1rem;
  }

  &__btn {
    position: relative;
    color: #fff;
    width: 100%;
    background-color: #3e445e;
    border: none;
    cursor: pointer;

    &--closed::after {
      content: "";
      position: absolute;
      top: -2rem;
      left: 0;
      opacity: 1;
      height: 2rem;
      width: 100%;
      background: linear-gradient(to top, #3e445e, transparent);
      animation: showGradient 1s ease forwards;
    }
  }

  &--open {
    opacity: 1;
    // height: 20rem;
    // height: 100%;
  }
}

// .shadow {
//   opacity: 1;
// }

// .tags:not(.tags--open) .shadow::after {
//   content: "";
//   position: absolute;
//   top: 4.6rem;
//   opacity: 1;
//   height: 2rem;
//   width: 100%;
//   background: linear-gradient(to top, #3e445e, transparent);
//   animation: showGradient 1s ease forwards;
// }

.btn {
  color: #fff;
  font-size: 1.6rem;
  background-color: cadetblue;
  border: none;
  border-radius: 0.4rem;
  padding: 0.4rem;
  cursor: pointer;
}

.helper-tags {
  height: 0px;
  overflow: hidden;
  // transition: all 0.8s;
  &--open {
    // height: 100%;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes showGradient {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media (max-width: 480px) {
  .btn-add {
    top: 0.4rem;
    left: 0.4rem;
  }
}

@include var.animation-show;
