@use "./../../../../../../variables/variables.scss" as var;

.name {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-clamp: 3;
  font-size: 1.6rem;
  margin-bottom: 0.4rem;
  word-break: break-word;
}

.link {
  font-size: 1.6rem;
  @include var.linkA;
}
