@use "../../variables/variables.scss" as var;
@use "sass:color";

.model {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  color: var.$color-text-white;
  animation: show 0.6s ease-in forwards;
}

.h2 {
  font-size: 2.4rem;
  font-weight: 500;
  margin-top: 2rem;
  margin-bottom: 1rem;
  line-height: 1.35;
}

.btn-add {
  display: inline-block;
  color: var.$color-text-white;
  background-color: rgb(var.$color-background-tertiary, 0.8);
  font-size: 2.8rem;
  width: 4rem;
  height: 4rem;
  border-radius: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.3);
  flex-shrink: 0;
  cursor: pointer;

  &:hover {
    background-color: color.adjust(
      rgb(var.$color-background-tertiary, 0.8),
      $lightness: 4%
    );
  }
}

.title-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 2.8rem;
  font-weight: 600;
  word-break: break-word;
}

.info-container {
  display: flex;
  gap: 2rem;
}

.img-message {
  max-width: 45rem;
  text-align: center;
  margin: auto;
}

.img {
  width: 30rem;
}

.images {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.image-versions {
  display: flex;
  gap: 1rem;
}

.btn-examples {
  font-size: 2.6rem;
  cursor: pointer;
  background-color: rgb(82, 87, 87);
  border-radius: 1rem;
  padding: 0.2rem 0.6rem;
  &--active {
    color: blueviolet;
  }
}

.test {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: row;
  &__item {
    width: 30rem;
    height: 30rem;
    background-color: blueviolet;
  }
}

.link {
  @include var.linkA;
}

.active-corousel {
  position: sticky;
  top: 10rem;
  z-index: 14;
}

@media (max-width: 1000px) {
  .info-container {
    flex-direction: column;
  }
}
@media (max-width: 1000px) {
  .panel {
    grid-template-columns: 1fr 1fr;
  }
  .categories {
    grid-column: 1 / -1;
  }
  .btn-edit {
    grid-column: -1 / 2;
    grid-row: -1 / -2;
  }
}

@media (max-width: 840px) {
  .title {
    font-size: 2.2rem;
  }
}

@media (max-width: 425px) {
  .img-container {
    justify-content: center;
  }
}

@include var.animation-show;
