@use "../../../variables/variables.scss" as var;
@use "sass:color";

.container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  //   grid-template-columns: 1fr 1fr;
  width: 100%;
  margin-top: 2.6rem;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Nunito", sans-serif;
  font-size: 1.6rem;
  color: var.$color-text-white;
  background-color: #323148;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 1rem;
  padding: 0.4rem 0.8rem;
  box-shadow: 0 0.2rem 0.5rem rgba(var.$color-black, 0.2);
  // white-space: nowrap;
  width: 45%;
  // word-break: break-all;
  transition: all 0.3s ease;
  cursor: pointer;
  // @include var.ellipsis(2);

  &:hover {
    color: var.$color-text-white;
    border: 1px solid rgba(255, 255, 255, 0.5);
  }

  &:active {
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: color.adjust(#323148, $lightness: -5%);
    box-shadow: var.$box-shadow-inset;
  }

  &:disabled {
    background-color: var.$color-gray;
    box-shadow: none;
    cursor: not-allowed;
  }

  &--right {
    margin-left: auto;
    // margin-right: auto;
  }

  & svg {
    width: 3rem;
    height: 3rem;
    flex-shrink: 0;
  }
}
