@use "./../../../variables/variables.scss" as var;

.container {
  display: flex;
  position: relative;
  align-items: center;
  height: 100%;
  width: 26rem;
  // background-color: var.$color-background-tertiary;

  & img {
    max-width: 100%;
  }
}

.image-svg {
  align-self: center;
  margin: auto;
  width: 25%;
  opacity: 0.6;
}

.menu-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0rem 0.4rem;
  background-color: rgb(var.$color-background-tertiary, 0.8) !important;
  width: 3.6rem;

  & svg {
    width: 2.4rem;
  }
  // position: absolute;
  // top: 1rem;
  // right: 1rem;
  // list-style: none;
}
.menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  top: 1.2rem;
  right: 1.2rem;
  list-style: none;
  z-index: 2;

  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.4rem;
    list-style: none;
    border-radius: 1rem;
    // background-color: var.$color-background-tertiary;
    background-color: rgb(var.$color-background-tertiary, 0.9);
    padding: 1rem;
    box-shadow: var.$box-shadow;
  }

  &__item {
    cursor: pointer;
    transition: all 0.3s;

    &--del {
      color: var.$color-red;
    }

    &:hover {
      color: var.$color-text-violet;
    }
  }
}

.image {
  max-width: 100%;
  animation: show 0.4s ease-in forwards;
  &--hidden {
    display: none;
  }

  &--nsfw {
    filter: blur(20px);
  }
}

.image--portrait {
  position: absolute;
  min-height: 100%;
  max-width: 100%;
  object-fit: cover;
}

.placeholder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  background-color: #ab9db7;
  // z-index: -1;
}

.btn__set {
  position: absolute;

  cursor: pointer;
  &--previw {
    right: 2rem;
    bottom: 3rem;
  }
  &--nsfw-previw {
    left: 2rem;
    bottom: 3rem;
  }
}

.tag-sets {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-direction: column;
  gap: 0.8rem;
  list-style: none;
  margin-top: 1rem;
  max-height: 55rem;
  padding-right: 1rem;
  overflow-y: scroll;
  @include var.custom-scroll;

  &__item {
    display: flex;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 1rem;
    overflow: hidden;
    background-color: var.$color-background-tertiary;
    // cursor: pointer;
    transition: all 0.3s;

    // &:hover {
    //   color: var.$color-text-violet;
    // }
  }

  &__img {
    width: 9rem;
    flex-shrink: 0;
  }

  &__info {
    width: 100%;
    padding: 0.2rem 0.6rem;
  }

  &__name {
    font-size: 1.6rem;
    font-weight: 400;
  }

  &__btn-container {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    margin-top: 1rem;
  }
}

.tag-sets-head {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}

.tag-sets-title {
  font-size: 2.4rem;
  // line-height: 1;
}

.tag-sets-versions {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin-top: 1rem;

  &__item {
    cursor: pointer;
    transition: all 0.3s;
    &--active {
      color: aqua;
    }

    &:hover {
      color: var.$color-text-violet;
    }
  }
}

.mode-switch {
  display: flex;
  font-size: 1.4rem;
  border-radius: var.$border-radius;
  border: 1px solid rgba(255, 255, 255, 0.3);
  overflow: hidden;
}
.btn-mode {
  width: 5rem;
  font-size: 1rem;
  background-color: transparent;
  // background-color: #fff;
  padding: 0.6rem 0.8rem;
  border: none;
  transition: all 0.3s;
  color: #fff;
  cursor: pointer;

  &--active {
    background-color: blueviolet;
  }
}

.btn-add {
  position: absolute;
  z-index: 1;
  right: 1.2rem;
  top: 4.1rem;
}

.loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  background-color: #ab9db7;
  z-index: -1;
  animation: loading 2s ease-in-out infinite;
}

@keyframes loading {
  0% {
    background-color: #918b96;
  }
  50% {
    background-color: #b0b0b0;
  }

  100% {
    background-color: #918b96;
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
