.container {
  display: flex;
  position: relative;
  align-items: center;
  height: 100%;
  width: 30rem;
  & img {
    max-width: 100%;
  }
}

.image {
  max-width: 100%;
  animation: show 0.4s ease-in forwards;
  &--hidden {
    display: none;
  }
}

.placeholder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  background-color: #ab9db7;
  z-index: -1;
}

.btn__set {
  position: absolute;

  cursor: pointer;
  &--previw {
    right: 2rem;
    bottom: 3rem;
  }
  &--nsfw-previw {
    left: 2rem;
    bottom: 3rem;
  }
}

.loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  background-color: #ab9db7;
  z-index: -1;
  animation: loading 2s ease-in-out infinite;
}

@keyframes loading {
  0% {
    background-color: #918b96;
  }
  50% {
    background-color: #b0b0b0;
  }

  100% {
    background-color: #918b96;
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
