@use "./../../../variables/variables.scss" as var;

.resource {
  display: flex;
  flex-direction: column;
  position: relative;
  border: 1px solid rgba(213, 155, 155, 0.3);
  border-radius: 1rem;
  padding: 0.4rem 0.8rem;
  margin-top: 1rem;
  background-color: rgb(var.$color-background-tertiary, 0.85);
  box-shadow: var.$box-shadow;
  width: 20rem;

  &__link {
    font-size: 1.6rem;
    @include var.linkA;
  }

  &__name {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    font-size: 1.6rem;
    margin-bottom: 0.4rem;
    word-break: break-word;
  }

  &__source {
    display: inline-flex;
    align-items: center;
    gap: 0.6rem;

    & svg {
      width: 1.6rem;
    }
  }

  &__checkpoint-lk {
    display: flex;
    gap: 0.2rem;
  }

  &__info {
    display: flex;
    gap: 1rem;
  }

  &__type {
    color: var.$color-text-green;
  }

  &__version {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    color: var.$color-text-gray;

    &-svg {
      width: 1.6rem;
      color: var.$color-text-yellow;
      flex-shrink: 0;

      &--saved {
        color: var.$color-text-green;
      }
    }
  }

  &__version-tooltip {
    width: max-content;
    max-width: 16rem;
  }

  &__version-name {
    word-break: break-word;
    @include var.ellipsis(1);
  }

  &__add {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(20%, -50%);
    z-index: 5;
  }

  &__unavailable {
    display: flex;
    align-items: center;
    justify-content: center;
    & svg {
      width: 2.4rem;
      color: var.$color-text-gray;
    }
  }

  &__field {
    display: flex;
    align-items: center;
    gap: 0.3rem;
  }

  &__connection-error {
    display: inline-flex;
    align-items: center;
    gap: 0.3rem;
    color: var.$color-text-gray;
    border-radius: 5px;
    padding: 0.1rem 0.3rem;

    & svg {
      width: 1.4rem;
      height: 1.4rem;
    }
  }
}

.tooltip {
  text-align: left;

  &--align-left {
    margin-right: auto;
  }
  &--centered {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.form {
  max-width: 25rem;
}

@media (max-width: 1310px) {
  .example__info {
    overflow: visible;
  }
}

@media (max-width: 740px) {
  .example__info {
    flex-wrap: wrap;
    overflow: visible;
  }
}

@media (max-width: 510px) {
  .example__info-item {
    width: 100%;
  }
}

@media (max-width: 490px) {
  .resource {
    font-size: 1.6rem;
    width: 100%;
  }

  .form {
    max-width: 100%;
  }
}
