@use "../variables/variables.scss" as var;
@include var.animation-show;

.about {
  display: grid;
  position: relative;
  grid-template-columns: 30rem 1fr;
  margin: 0rem auto;
  font-size: 1.6rem;
  animation: show 0.6s ease-in forwards;

  &__content {
    margin-left: 4rem;
  }
}

@media (max-width: 1000px) {
  .about {
    grid-template-columns: 26rem 1fr;
  }
}

@media (max-width: 768px) {
  .about {
    grid-template-columns: 1fr;

    &__content {
      margin-left: 0;
    }
  }
}
