@use "./../../../variables/variables.scss" as var;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #282c34;
  gap: 2rem;
  height: 6rem;
  padding: 2rem;
}

@media (max-width: 1024px) {
  .header {
    height: 14rem;
  }
}

@media (max-width: 375px) {
  .header {
    height: 11rem;
  }

  .logo {
    font-size: 3.4rem;
  }
}
