@use "../../../variables/variables.scss" as var;

.img {
  // display: block;
  // width: 100%;
  // height: auto;
  box-shadow: var.$box-shadow-dark;
  transition: all 0.2s ease-in;
  // padding-bottom: 48%;
  cursor: pointer;

  & img {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
  }

  & picture {
    width: 100%;
    height: auto;
  }

  &:hover {
    transform: scale(1.02);
  }
}

.video {
  margin: 2.4rem auto;
  flex-shrink: 0;
  width: 100%;
  height: auto;
}

.btn-civ {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #343a40;
  color: #fefefe;
  padding: 0.8rem 1.2rem;
  gap: 0.4rem;
  border-radius: 20px;
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0.4rem;

  & svg {
    width: 1.8rem;
    height: 1.8rem;
  }

  &--share {
    gap: 1rem;

    & svg {
      width: 1.4rem;
      height: 1.4rem;
    }
  }
}

.notification {
  gap: 1.6rem;
  margin: 3rem 0;
  padding: 2rem 1.6rem;
}

.tag {
  background-color: #48313f;
}

.svg {
  display: inline-block;
  margin-bottom: -0.2rem;
  width: 2rem;
  height: 2rem;
}

.status {
  position: relative;
  bottom: -0.4rem;
  width: 2rem;
  color: var.$color-text-yellow;
  flex-shrink: 0;

  &--saved {
    color: var.$color-text-green;
  }
}
