@use "../../../variables/variables.scss" as var;
@use "sass:color";

.content {
  position: absolute;
  bottom: -1px;
  width: 100%;
  text-decoration: none;
  color: var.$color-text-white;
  padding: 1rem 1rem;
  font-size: 1.4rem;
  background: linear-gradient(transparent, #000);
}

.title {
  display: -webkit-box;
  font-size: 2.2rem;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  transition: all 0.3s;

  &:hover {
    color: color.adjust(var.$color-primary, $lightness: 20%);
  }
}

.models {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
  list-style: none;

  &__item {
    display: inline-flex;
    color: var.$color-text-gray;
    background-color: #323148;
    padding: 0.2rem 0.8rem;
    border-radius: 10px;
  }
}
