@use "../../variables/variables.scss" as var;

.container {
  min-width: 26rem;
  max-width: 120rem;

  &--open {
    // background-color: rgb(43 41 50);
    margin-top: 1rem;
    background-color: rgb(lighten(var.$color-background-secondary, 3%), 0.97);
    // box-shadow: 0rem 0rem 0.9rem 0.4rem rgba(0, 0, 0, 0.2);
    box-shadow: var.$box-shadow-light;
    position: sticky;
    padding: 2.8rem 0.2rem 1.8rem 1.2rem;
    gap: 1.6rem;
    left: 0;
    top: 10rem;
    width: 100%;
    animation: open 0.4s ease-in forwards;
    border-radius: 1rem;
    overflow: hidden;
    z-index: 5;
  }
}

.wrap {
  display: flex;
  gap: 2rem;
  // grid-template-columns: auto 1fr;
  // gap: 1.6rem;
  // position: static;
  z-index: 10;
  justify-content: space-between;
  width: 100%;
  transition: all 0.3s;
  // height: calc(100vh - 200px);

  // &--open {
  //   // background-color: rgb(43 41 50);
  //   background-color: rgb(lighten(var.$color-background-secondary, 3%), 0.97);
  //   box-shadow: 0rem 0rem 0.9rem 0.4rem rgba(0, 0, 0, 0.2);
  //   position: absolute;
  //   gap: 1.6rem;
  //   left: 0;
  //   animation: open 0.4s ease-in forwards;
  //   border-radius: 1rem;
  //   overflow: hidden;
  //   z-index: 5;
  // }
}

.carousel {
  position: relative;
  overflow: hidden;
  height: 45rem;
  width: 100%;
  border-radius: 1rem;
  // background-color: lighten(var.$color-background-tertiary, 1%);
  box-shadow: 0rem 0rem 0.6rem 0.7rem rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}

.carousel__images {
  display: flex;
  gap: 1rem;
  position: absolute;
  align-items: center;
  height: 100%;
  transition: all 0.3s;

  &--hidden {
    opacity: 0;
  }
}

.btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #636363;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.6);
  padding: 0.4rem;
  height: 4rem;
  width: 4rem;
  border: none;
  // opacity: 0.8;
  border-radius: 50%;
  box-shadow: var.$box-shadow-light;
  transition: background-color 0.1s;
  cursor: pointer;

  &:hover {
    background-color: rgba(255, 255, 255, 0.8);
  }

  &:active {
    transform: translateY(-48%);
  }

  &__left {
    left: 0;
    // & span {
    //   display: inline-block;
    //   clip-path: var.$clip-path-arrow-left;
    //   background-color: #636363;
    //   height: 1.6rem;
    //   width: 1.6rem;
    // }
  }

  &__right {
    right: 0;
    // & span {
    //   display: inline-block;
    //   clip-path: var.$clip-path-arrow-right;
    //   background-color: #636363;
    //   height: 1.6rem;
    //   width: 1.6rem;
    // }
  }

  & svg {
    width: 2.4rem;
  }
}

.image {
  width: 26rem;
}

.spiner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn-save-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  left: 2rem;
  top: 2rem;
  gap: 0.2rem;
  width: 4rem;
  // height: 4rem;
  z-index: 1;
}

.btn-save {
  // position: absolute;
  display: flex;
  // flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var.$color-text-white;
  // left: 2rem;
  // top: 2rem;
  border-radius: 1rem;
  width: 4rem;
  height: 4rem;
  padding: 0.4rem 0.4rem;
  font-size: 2.8rem;
  background-color: rgb(var.$color-background-tertiary, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.3);
  line-height: 1;
  font-family: serif;
  transition: all 0.3s;
  z-index: 1;
  cursor: pointer;

  &__amount {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    width: 4rem;
    height: 2.2rem;
    padding: 0.4rem 0.4rem;
    // font-size: 1.2rem;
    background-color: rgb(var.$color-background-tertiary, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }

  &--saving {
    // background-color: #5e5e5e;
    cursor: default;
  }

  &:not(&--saving):hover {
    background-color: var.$color-primary;
  }
}

.amount {
  position: absolute;
  right: 2rem;
  bottom: 2rem;
  z-index: 5;
  background-color: rgba(55, 42, 199, 0.6);
  border-radius: 1rem;
  padding: 0.2rem 0.4rem;
  cursor: pointer;
}

.pagination {
  display: flex;
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translate(-50%);
  width: 85%;
  align-items: center;
  align-self: center;
  justify-self: center;
  justify-content: center;
  list-style: none;
  gap: 0.2rem;

  // z-index: 5555;
  &__item {
    // padding: 1rem 2rem;
    width: 100%;
    height: 1rem;
    width: 100%;
    background-color: #4a4a4a;
    opacity: 0.8;
    border-radius: 1rem;
    cursor: pointer;

    &--active {
      background-color: #372ac7;
    }
  }
}

@keyframes open {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
