@use "./../../../variables/variables.scss" as var;
@use "sass:color";

.container {
  max-width: 50rem;
}

.btns {
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin-top: 2rem;
}

.btn {
  width: 14rem;

  &--close {
    background-color: var.$color-background-red;

    &:hover {
      background-color: color.adjust(
        var.$color-background-red,
        $lightness: -10%
      );
    }
  }
}

.title {
  font-size: 2.4rem;
  margin-bottom: 1.8rem;
  padding-left: 1rem;
  border-left: 5px solid var.$color-primary;
}

.text {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.link {
  @include var.linkA;
}
