@use "./../../../variables/variables.scss" as var;

.guide-container {
  position: relative;
}

.guide {
  position: absolute;
  animation: show 1.3s ease;
  z-index: 5;

  &__arrow-up {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
  }

  &__arrow-down {
    position: absolute;
    bottom: -4.4rem;
    left: 2.1rem;
  }

  &__arrow-bg {
    position: absolute;
    top: -1rem;
    left: 2.1rem;
    transform: rotate(45deg);
    // border: 1px solid var.$color-text-white;
    box-shadow: var.$box-shadow;
    box-shadow: 0rem 0rem 0.5rem rgb(255 255 255 / 30%);
    width: 2rem;
    height: 2rem;
    background-color: #28273a;
    z-index: -1;
  }

  &__controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.6rem;
    padding: 0.4rem 0.8rem 0.6rem 0.8rem;
    font-size: 1.4rem;
    // box-shadow: inset var.$box-shadow;
    box-shadow: inset var.$box-shadow;
    background-color: #28273a;
    border-radius: 0 0 10px 10px;
    // box-shadow: var.$box-shadow-inset;

    & svg {
      width: 1.4rem;
      height: 1.4rem;
    }
  }

  &__controls-steps {
    display: flex;
    gap: 0.6rem;
  }

  &__controls-btn {
    padding: 0.2rem;
    width: 2rem;
    height: 2rem;
    border-radius: 0.6rem;
  }

  &__content {
    // height: auto;
    height: auto;
    // transform: translate(-50%, -50%);
    z-index: 40;
    // width: 28rem;
    max-width: 95vw;
    // min-width: 40rem;
    max-height: 95vh;
    background-color: #28273a;
    border-radius: 10px;
    // padding: 0 0 0.6rem 0;
    // overflow-y: scroll;
    // @include var.custom-scroll;
    box-shadow: var.$box-shadow;
    box-shadow: 0rem 0rem 0.5rem rgb(255 255 255 / 30%);
    transition: all 0.3s ease-in;

    &--1 {
      // top: -15.8rem;
      top: 0.5rem;
      left: 6.2rem;
      max-width: 25rem;
    }

    &--2 {
      top: 0.5rem;
      left: 16.5rem;
      max-width: 25rem;
    }

    &__text {
      //   margin-bottom: 1.6rem;
      font-size: 1.6rem;
      //   background-color: var.$color-background-primary;
      background-color: #28273a;
      padding: 0.6rem 1.2rem;
      border-radius: 10px 10px 0 0;
      //   border-radius: 10px;
      //   box-shadow: var.$box-shadow;
    }

    &__comment {
      font-size: 1.4rem;
      color: var.$color-text-gray;
    }

    &__list {
      display: flex;
      flex-direction: column;
      list-style: none;
      font-size: 1.6rem;
      gap: 1.4rem;
    }

    &__item {
      position: relative;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      //   text-align: right;
      gap: 1rem;
      font-size: 1.6rem;

      // margin-bottom: 3.4rem;

      & svg {
        flex-shrink: 0;
        width: 1.8rem;
        height: 1.8rem;
      }
    }
  }

  &__close {
    position: fixed;
    cursor: pointer;
    display: flex;
    align-items: center;
    top: 0.6rem;
    right: 32rem;
    color: #a8a8a8;
    transition: all 0.3s;

    & svg {
      width: 2.4rem;
    }

    &:hover {
      color: lighten(#a8a8a8, 20%);
    }
  }

  &__cross {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-color: rgb(168, 168, 168);
    clip-path: polygon(
      10% 0,
      0 10%,
      40% 50%,
      0 90%,
      10% 100%,
      50% 60%,
      90% 100%,
      100% 90%,
      60% 50%,
      100% 10%,
      90% 0,
      50% 40%
    );
  }
}

.test {
  position: relative;
  // z-index: 20;
}

.title {
  margin-bottom: 1rem;
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 1160px) {
  .guide__content--2 {
    // top: 7.6rem;
  }
}

@media (max-width: 460px) {
  .guide__content--1 {
    left: 1rem;
  }

  .guide__content--1 .guide__arrow-bg {
    top: -1rem;
    left: 6rem;
  }

  .guide__content--2 {
    left: 3rem;
  }

  .guide__content--2 .guide__arrow-bg {
    top: -1rem;
    left: 14rem;
  }
}
