@use "./../../../../variables/variables.scss" as var;

.info {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  padding-right: 1.6rem;
  font-size: 1.6rem;
  max-width: 70rem;
  max-height: 85vh;
  overflow-y: scroll;
  @include var.custom-scroll;
}

.image {
  background-color: transparent;
  border-radius: 10px;
  margin: 1.4rem 0;

  & img {
    position: relative;
    height: auto;
  }
}

.video {
  margin: auto;
  margin-top: 2rem;
}

.text {
  margin-bottom: 0.6rem;
}

.h2 {
  font-size: 2.2rem;
  margin-top: 1rem;
  padding-left: 1rem;
  border-left: 5px solid var.$color-primary;
}

.h3 {
  font-size: 1.8rem;
  margin-top: 1rem;
  width: fit-content;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid var.$color-primary;
}

.text-white {
  color: var.$color-text-white;
}

.link {
  color: var.$color-link;
}

.block {
  padding: 0;
  overflow: visible;
}

.saved {
  border: 1px solid #5c5c5c;
  border-radius: 10px 0 0 10px;
  color: #fff;
  display: inline-flex;
  flex-shrink: 0;
  font-size: 1.5rem;
  justify-content: center;
  padding: 0.2rem 0.3rem;
  transition: all 0.3s;
  width: 7rem;
}

.status {
  position: relative;
  bottom: -0.4rem;
  width: 2rem;
  color: var.$color-text-yellow;
  flex-shrink: 0;

  &--saved {
    color: var.$color-text-green;
  }
}
