@use "./../../../variables/variables.scss" as var;

.btn {
  padding: 0;
  border: 0;
  background: none;
  color: inherit;
  font: inherit;
  text-align: inherit;
  width: 2.6rem;
  height: 2.6rem;
  cursor: pointer;
  // background-color: var.$color-background-red;
  & svg {
    width: 2.6rem;
    height: 2.6rem;
    color: var.$color-help-icon;
    transition: all 0.2s;

    &:hover {
      color: var.$color-primary;
      // color: #aeaebc;
    }
  }
}
