@use "../../../variables/variables.scss" as var;
@use "sass:color";

.container {
  min-width: 26rem;
  max-width: 120rem;

  &--open {
    margin-top: 1rem;
    background-color: rgb(
      color.adjust(var.$color-background-secondary, $lightness: 3%),
      0.97
    );
    box-shadow: var.$box-shadow-light;
    position: sticky;
    padding: 2.8rem 0.2rem 1.8rem 1.2rem;
    gap: 1.6rem;
    left: 0;
    top: 10rem;
    width: 100%;
    animation: open 0.2s ease-in forwards;
    border-radius: 1rem;
    overflow: hidden;
    z-index: 5;
  }
}

.wrap {
  display: flex;
  gap: 2rem;
  z-index: 10;
  justify-content: space-between;
  width: 100%;
  transition: all 0.3s;
}

.carousel {
  position: relative;
  overflow: hidden;
  height: 39rem;
  width: 100%;
  border-radius: 1rem;
  box-shadow: 0rem 0rem 0.6rem 0.7rem rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
  z-index: 2;
  animation: open 0.2s ease-in forwards;
}

.carousel__images {
  display: flex;
  gap: 1.4rem;
  position: absolute;
  align-items: center;
  height: 100%;
  transition: all 0.3s;

  &--hidden {
    opacity: 0;
  }
}

.btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #636363;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.6);
  padding: 0.4rem;
  height: 4rem;
  width: 4rem;
  border: none;
  border-radius: 50%;
  box-shadow: var.$box-shadow-light;
  transition: background-color 0.1s;
  cursor: pointer;

  &:hover {
    background-color: rgba(255, 255, 255, 0.8);
  }

  &:active {
    transform: translateY(-48%);
  }

  &__left {
    left: 0;
  }

  &__right {
    right: 0;
  }

  & svg {
    width: 2.4rem;
  }
}

.spiner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn-add {
  position: absolute;
  z-index: 1;
  left: 1.6rem;
  top: 1.6rem;
}

.btn-all {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  width: 3.6rem;
  height: 3.6rem;
  z-index: 4;
  bottom: 2.4rem;
  right: 50%;
  transform: translateX(50%);
  background-color: rgba(56, 56, 56, 0.3);
  border-radius: 10px;
  color: var.$color-text-white;
  border: 1px solid rgba(var.$color-text-white, 0.6);
  transition: all 0.3s;
  cursor: pointer;

  &:hover {
    background-color: rgba(var.$color-primary, 0.8);
  }

  & svg {
    width: 2.6rem;
    height: 2.6rem;
    opacity: 0.8;
  }
}

.amount {
  position: absolute;
  right: 2rem;
  bottom: 2rem;
  z-index: 5;
  background-color: rgba(55, 42, 199, 0.6);
  border-radius: 1rem;
  padding: 0.2rem 0.4rem;
  cursor: pointer;
}

@media (max-width: 630px) {
  .carousel {
    margin: auto;
  }
}

@keyframes open {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
