@use "./../../../../variables/variables.scss" as var;

.btn {
  display: inline-flex;
  position: relative;
  bottom: -0.5rem;
  align-items: center;
  justify-content: center;
  font-family: "Nunito", sans-serif;
  color: var.$color-text-white;
  background-color: var.$color-background-control;
  border: 1px solid rgba(var.$color-white, 0.15);
  border-radius: 1rem;
  padding: 0.2rem 0.6rem;
  box-shadow: 0 0.2rem 0.5rem rgba(var.$color-black, 0.2);
  white-space: nowrap;
  background-color: rgba(var.$color-background-tertiary, 0.8) !important;
  width: 3.6rem;
  // margin-bottom: 0.4rem;
  margin: 0.2rem 0 0.4rem 0;

  & svg {
    width: 2rem;
    height: 2rem;
  }
}
