@use "./../../../../variables/variables.scss" as var;

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var.$color-create;
  border-radius: 1rem;
  color: var.$color-create;
  font-weight: 600;
  padding: 0.2rem 0.6rem;
  margin: 0.2rem 0;
}
