@use "./../../../variables/variables.scss" as var;

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2rem;
  position: relative;
  animation: show 0.3s ease-in forwards;
}

.subtitle {
  position: absolute;
  font-size: 1.4rem;
  top: 0;
  right: 0;
  color: var.$color-text-form-muted;
}

.fields {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.filter {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.example-field {
  display: flex;
  gap: 1rem;
}

.checkbox {
  display: flex;
  font-size: 1.6rem;
  padding: 1rem;
  gap: 1rem;
  align-items: center;
}

.submit-container {
  position: sticky;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  bottom: 0.4rem;
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  min-height: 3.4rem;
  width: 100%;
}

@media (max-width: 768px) {
  .submit-container {
    bottom: 1.4rem;
  }
}

@include var.animation-show;
