@use "./../../variables/variables.scss" as var;

.card {
  background-color: var.$color-background-primary;
  border-radius: 20px;
  overflow: hidden;
  padding: 2.8rem;
  // padding: 1rem 1rem;
  height: 100%;
}

@media (max-width: 480px) {
  .card {
    padding: 2.8rem 1.6rem 1.6rem 1.6rem;
  }
}
