@use "./../../variables/variables.scss" as var;
@use "sass:color";

.dropdown {
  position: absolute;
  top: 0;
  left: 0;
  // top: 100%;
  // left: 100%;
  z-index: 30;
  // transform: translateX(-100%);

  &__container {
    // min-height: 2rem;
    // max-height: 40rem;
    width: 97%;
    // padding: 0.4rem 0.6rem;
    border-radius: 10px 0 10px 10px;
    background-color: var.$color-background-primary;
    box-shadow: var.$box-shadow;
  }

  &__settings {
    position: relative;
    display: flex;
    padding: 0.3rem 0.6rem;
    border-radius: 10px 0 0 0;
    background-color: color.adjust(
      var.$color-background-primary,
      $lightness: -4%
    );
    box-shadow: var.$box-shadow;
    min-height: 2rem;
  }

  &__content {
    padding: 0.4rem 0 0.6rem 0.4rem;
    min-height: 2rem;
    max-height: 45rem;
    list-style: none;
    overflow-y: scroll;
    @include var.custom-scroll;
  }

  &__title {
    font-size: 1.4rem;
    margin: auto;
  }
}

.btn-close {
  position: absolute;
  top: 50%;
  right: 0.5rem;
  transform: translateY(-50%);
  display: block;
  margin-left: auto;
  background: none;
  border: none;
  cursor: pointer;

  &__cross {
    display: block;
    margin-left: auto;
    width: 1.4rem;
    height: 1.4rem;
    background-color: rgb(168, 168, 168);
    clip-path: polygon(
      10% 0,
      0 10%,
      40% 50%,
      0 90%,
      10% 100%,
      50% 60%,
      90% 100%,
      100% 90%,
      60% 50%,
      100% 10%,
      90% 0,
      50% 40%
    );
  }
}
