@use "../../variables/variables.scss" as var;

.field {
  // display: flex;
  // flex-wrap: wrap;
  // gap: 0.7rem;
  list-style: none;
  padding: 0.6rem 0.8rem;
  border: 1px solid var.$color-violet-grey;
  border-radius: 1rem 0rem 0rem 1rem;
  //   margin: 1rem 0 1rem;
  min-height: 5rem;
  align-items: flex-start;
  overflow-y: scroll;
  // background-color: var.$color-background-tertiary;
  word-spacing: 0.4rem;
  letter-spacing: 0.1px;

  @include var.custom-scroll;
}

.tag {
  display: inline-block;
  margin: 0 1rem 1rem 0;
  font-size: 1.4rem;
  padding: 0.4rem 0.6rem;
  background-color: #323148;
  border-radius: 1rem;
  &__content {
    display: flex;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr auto;
  }
  &__text {
    margin-right: 0.6rem;
    word-break: break-word;
    cursor: default;
  }
  &__cross {
    display: inline-block;
    width: 1.4rem;
    height: 1.6rem;
    // background-color: var.$color-violet-grey;
    color: var.$color-violet-grey;
    transition: all 0.3s ease;
    // clip-path: polygon(
    //   10% 0,
    //   0 10%,
    //   40% 50%,
    //   0 90%,
    //   10% 100%,
    //   50% 60%,
    //   90% 100%,
    //   100% 90%,
    //   60% 50%,
    //   100% 10%,
    //   90% 0,
    //   50% 40%
    // );

    & svg {
      width: 1.6rem;
    }

    &:hover {
      color: var.$color-white;
    }
  }
}

.btn {
  display: flex;
  align-items: center;
  height: 100%;
  color: var.$color-violet-grey;
  background: none;
  border: none;
  border-left: 1px solid var.$color-violet-grey;
  padding-left: 0.3rem;
  transition: all 0.3s;
  cursor: pointer;
  &:hover {
    color: var.$color-white;
  }
}

.placeholder {
  font-size: 1.4rem;
  color: var.$color-text-gray-dark;
  color: #777777;
  cursor: default;
  //   word-spacing: 0.3rem;
  //   letter-spacing: 0.4px;

  &--aditional {
    display: flex;
    justify-content: center;
    margin: 0.5rem auto;
    max-width: 40rem;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .placeholder {
    &--aditional {
      margin: 2.5rem auto;
    }
  }
}
