@use "./../../variables/variables.scss" as var;

.textarea {
  border-radius: 10px;
  padding: 0.5rem;
  width: 100%;
  padding-left: 1rem;
  resize: vertical;
  //   overflow: hidden;
  //   overflow-y: scroll;
  //   scrollbar-width: thin;
  // background-color: rgb(67, 51, 75);
  // color: #fff;
}
.label {
  display: inline-block;
  font-size: 1.6rem;
  margin: 0 0.6rem 0.4rem;
}

.error {
  font-size: 1.6rem;
  color: var.$color-red;
  margin: 0 1.8rem 0rem;
}
