@use "./../../../variables/variables.scss" as var;
@use "sass:color";

.suggested-collections {
  display: flex;
  flex-direction: column;
  min-width: 24rem;
  max-width: 24rem;
  width: 100%;
  max-height: 100%;
  gap: 0.4rem;

  &__panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    font-size: 1.6rem;
  }

  &__sort {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__sort-item {
    display: flex;
    gap: 0.4rem;
    font-size: 1.3rem;
    transition: all 0.2s ease-out;
    cursor: pointer;

    &--active {
      color: color.adjust(var.$color-primary, $lightness: 35%);
    }

    &:not(&--active):hover {
      color: color.adjust(var.$color-primary, $lightness: 25%);
    }

    & svg {
      width: 1.4rem;
      height: 1.4rem;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    list-style: none;
    width: 100%;
    overflow-y: auto;
    flex: 1 1 0;
    min-height: 0;
    @include var.custom-scroll;
  }

  &__item {
    border-radius: 6px;
    padding: 0.4rem 1rem;
    border: 1px solid transparent;
    // transition: all 0.2s ease;

    &--active {
      background-color: var.$color-background-secondary;
      border: 1px solid rgba(var.$color-primary, 0.8);
    }

    &:not(&--active):hover {
      background-color: var.$color-background-tertiary;
      cursor: pointer;
    }
  }
  &__category {
    font-size: 1.3rem;
    color: color.adjust(var.$color-primary, $lightness: 35%);
    word-break: break-all;
    @include var.ellipsis(1);
  }
  &__subcategory {
    font-size: 1.3rem;
    color: color.adjust(var.$color-gray, $lightness: 0%);
  }
  &__collection {
    font-size: 1.6rem;
  }
}

@media (max-width: 600px) {
  .suggested-collections {
    display: none;
  }
}
